<!DOCTYPE html>
<html lang="de">
<head>
  <meta name="description" 
    content="AnzeigeSchalten - die schnelle Lösung Recht zu schaffen.">
  <meta name="theme-color" content="#1e1e2e">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/static/style.css' | url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/img/apple-touch-icon.png' | url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/img/favicon-32x32.png' | url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/img/favicon-16x16.png' | url }}">
  <link rel="manifest" href="{{ '/static/img/site.webmanifest' | url }}">
  <script src="{{ '/static/script.js' | url }}" defer></script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
</style>
</head>
<body>
  {% include "header.njk" %}
    <main>
    {% block content %} {% endblock %}
    </main>
  {% include "footer.njk" %}
</body>
</html>