<div class="footer">
  <ul>
    <li>Copyright © Lukas Schaffrath 2025</li>
  </ul>
</div>
<div class="button-row">
  <a href="#top" class="totop"><img src="/static/img/top-arrow.png" alt="Top Button"></a>
  <a href="mailto:webcommitswebdesigns@gmail.com" class="mailbutton"><img src="/static/img/mail-ico.png"
      alt="Mail Icon"></a>
</div>