<div class="header">
    <h1>AnzeigeSchalten</h1>
    <nav>
        <ul>
            <li><a href="javascript:void(0)" onclick="showSidebar()"><img src="{{ '/static/img/menu.svg' | url }}" alt="Menu Icon"></a></li>
        </ul>
    </nav>
    <nav class="sidebar">
        <ul>
            <li><a href="javascript:void(0)" onclick="hideSidebar()"><img src="{{ '/static/img/close.svg' | url }}" alt=""></a></li>
            <li><a href="/">Start</a></li>
            <li><a href="/ueberuns/">Über Uns</a></li>
            <li><a href="/impressum/">Impressum</a></li>
        </ul>
    </nav>
</div>